@font-face {
  font-family: "Circular Std";
  src: local("Circular Std Medium Italic"), local("CircularStd-MediumItalic"),
    url("CircularStd-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Circular Std";
  src: local("Circular Std Black"), local("CircularStd-Black"),
    url("CircularStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: local("Circular Std Medium"), local("CircularStd-Medium"),
    url("CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: local("Circular Std Bold"), local("CircularStd-Bold"),
    url("CircularStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: local("Circular Std Black Italic"), local("CircularStd-BlackItalic"),
    url("CircularStd-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Circular Std Book";
  src: local("Circular Std Book Italic"), local("CircularStd-BookItalic"),
    url("CircularStd-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Circular Std";
  src: local("Circular Std Bold Italic"), local("CircularStd-BoldItalic"),
    url("CircularStd-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Circular Std Book";
  src: local("Circular Std Book"), local("CircularStd-Book"),
    url("CircularStd-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
